.mobile_sidebar_nav {
    display: flex !important;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    width: 65%;
    min-height: 100vh;
    right: -69%;
    background-color: rgb(34, 34, 34);
    transition: 0.9s;
    z-index: 2000;
}

.is-active-sec {
    right: 0 !important;
}